# Cruft
*~
*#
.#*
.DS_Store

# Test
coverage
.eslintcache

#storybook
.storybook-dist

# Logs
*.log

# npm & yarn
node_modules/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock*
/build/bundle.js
/build*
/build/*
.next/*
lighthouse-results.html

# Editor/IDE
.idea
.editorconfig
.vscode
/.vs

#Snapshots
.snap
